---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Publications from '../components/Publications.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
---

<BaseLayout>
  <main>
    <Hero />
    <Experience />
    <Publications />
    <Skills />
    <Contact />
  </main>
</BaseLayout>
